services:
  web:
    build: apache
    ports:
      - 80:80
    volumes:
      - ./apache/tarefa1.conf:/etc/apache2/sites-enabled/tarefa1.conf
      - ./apache/tarefa3.conf:/etc/apache2/sites-enabled/tarefa3.conf
      - ./apache/tarefa5.conf:/etc/apache2/sites-enabled/tarefa5.conf
      - ./exemplo.lan:/opt/web/exemplo.lan
      - ./omeusitio.lan:/opt/web/omeusitio.lan
      - ./novositio.lan:/opt/web/novositio.lan
      - ./certificados:/certificados
      - ./omeusitio.lan/logs:/var/log/apache2/omeusitio.lan/
    networks:
      redeapache:
        ipv4_address: 192.168.58.200
        aliases:
          - novositio.lan
          - www.novositio.lan
          - omeusitio.lan
          - www.omeusitio.lan
          - exemplo.lan
          - www.exemplo.lan
          - eq1.exemplo.lan
          - eq2.exemplo.lan
    develop:
      watch:
        - path: ./apache/test1.conf
          action: restart

  cliente1:
    image: brunosct/debian13firefox
    hostname: cliente1
    networks:
      redeapache:
        ipv4_address: 192.168.58.99
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
  cliente2:
    image: brunosct/debian13firefox
    hostname: cliente2
    networks:
      redeapache:
        ipv4_address: 192.168.58.20
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix


networks:
  redeapache:
    ipam:
      config:
        - subnet: 192.168.58.0/24